<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css'/>
  </head>
  <body>
    <header>
      <h1>this is the main team page</h1>
      <nav>
        <a href="/team/justin">Justin</a>
        <a href="/team/joe">Joe</a>
        <a href="/team/john">John</a>
      </nav>
    </header>

    <h1>This is static content. Template below accepts dynamic content</h1>
    <hr>
    {{{ body }}}
    <hr>
    <h3>back to static content</h3>
    <script src="/js/main.js"></script>
  </body>
</html>
