<!-- snippet of HTML that represents a team member -->
<section>
    <h1>{{ person.name }}</h1>
    <h3>{{ person.role }}</h3>

    <img src="/images/{{person.avatar}}" alt="{{person.name}}'s image">
</section>